body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}
html {
    background-color: black;
}
nav a {
    margin-right: 10px;
    font-weight: 400;
    font-size: 200%;
}
a {
    color: rgb(75, 117, 255);
}
nav {
    display: flex;
    justify-content: center;
    height: 10%;
    align-items: center;
    cursor: pointer;
}
#logo{
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    width: 5%;
    margin-right: auto;
}
#mainPage {
    text-align: center;
}
#projectsPage {
    display: none;
    text-align: center;
}
#projectsPage a {
    color: rgb(75, 117, 255);
}
#email {
    color: rgb(75, 117, 255);
}
contact {
    text-align: center;
}
#socialsPage {
    text-align: center;
    display: none;
}
#socialsPage a {
    color: white;
}
#sitesPage {
    text-align: center;
    display: none;
}

nav a {
    color: white;
    text-decoration: none;
}

@media (max-width:400px) {
    nav a {
        font-size: 100%;
    }
}

@media (max-width:280px) {
    nav a {
        font-size: 70%;
    }
}
@media (max-width:210px) {
    nav a {
        font-size: 50%;
    }
}

@media (max-width:155px) {
    nav a {
        font-size: 20%;
    }
}

@media (max-width:135px) {
    nav a {
        font-size: 20%;
    }
}